@section scripts {
    @Scripts.Render("~/Scripts/Share/angular.min.js")
    @Scripts.Render("~/Scripts/Apps/homeController.js")
}

<div id="homeContainer" ng-app="IgnorantItems" ng-controller="homeController">
    <div class="row">
        <div class="recentMatchesHeader">
            <h2>{{title}}</h2>
        </div>
    </div>
    <div class="allMatches">
        <div class="matchRow" ng-repeat="match in allMatches">
            <a ng-href="/matches/{{match.MatchId}}">
                <div class="homeMatchContainer" ng-style=getMatchColor(match)>
                    <div class="championImage">
                        <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{match.Champion.Image.Full}}" width="50" height="50">
                    </div>
                    <div class="homeMatchContainerTopPadding">
                        <div class="proName">
                            {{match.ProName}}
                        </div>
                        <div class="championName">
                            {{match.Champion.Name}}
                        </div>
                        <span class="matchResults" ng-style="getMatchResultColor(match)">
                            {{getMatchResultText(match)}}
                        </span>
                    </div>
                </div>
            </a>
            <div class="homeMatchGutter"></div>
        </div>
    </div>
</div>
