<div class="ng-cloak" id="baseContainer" ng-app="IgnorantItems">
    <div id="homeContainer" ng-controller="homeController">
        <div class="row">
            <div class="recentMatchesHeader">
                <h2>{{title}}</h2>
            </div>
        </div>
        <div class="matchRow" ng-repeat="match in allMatches">
            <div class="linebreak">
                <div class="row">
                    <div class="col-xs-8"><hr /></div>
                    <div class="col-xs-4"></div>
                </div>
            </div>
            <div class="matchContainer">
                <div class="row">
                    <div class="col-xs-1"></div>
                        <a ng-href="/matches/{{match.MatchId}}">
                            <div class="championImage">
                                <div class="col-xs-1">
                                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{match.Champion.Image.Full}}" width="30" height="30" />
                                </div>
                            </div>
                            <div class="proName"><div class="col-xs-2">{{match.ProName}}</div></div>
                            <div class="championName"><div class="col-xs-2">{{match.Champion.Name}}</div></div>
                            <div class="col-xs-1"><span ng-style="getMatchResultColor(match)">{{getMatchResultText(match)}}</span></div>
                            <div class="col-xs-1"></div>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Share/angular.min.js")
    @Scripts.Render("~/Scripts/Apps/homeController.js")
}