<script type='text/javascript'>
    window.backendParams = { matchId: @ViewBag.MatchId };
</script>

<div ng-cloak id="baseContainer" ng-app="IgnorantItems">
    <div id="matchContainer" ng-controller="matchController">
        <div class="row">
            <div class="matchChampionImage">
                <div class="col-xs-2">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{imageName}}" width="60" height="60" />
                </div>
                <div class="col-xs-6">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <h3>Match Info</h3>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Champion:</div>
            <div class="col-xs-2">{{match.Champion.Name}}</div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Score:</div>
            <div class="col-xs-2">{{kills}} / {{deaths}} / {{assists}}</div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Duration:</div>
            <div class="col-xs-2">{{durationText}}</div>
        </div>

        <h3>Runes</h3>
        <div class="row" ng-repeat="rune in match.Runes">
            <div class="runeRow">
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/rune/{{rune.Data.Image.Full}}" width="35" height="35" />
                    <span>x{{rune.Rank}}</span>
                </div>
                <div class="col-xs-5">
                    <div class="runeDescription">
                        <span>{{rune.Data.SanitizedDescription}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <h3>Masteries</h3>
        <div class="masteries">
            <div class="row">
                <div id="ferocityContainer">
                    <div class="masteryRow">
                        <div id="f6111">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6111.png" width="40" height="40"/>
                        </div>
                        <div id="f6114">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6114.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6121">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6121.png" width="40" height="40"/>
                        </div>
                        <div id="f6122">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6122.png" width="40" height="40"/>
                        </div>
                        <div class="masteryRow">
                            <div id="f6131">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6131.png" width="40" height="40"/>
                            </div>
                            <div id="f6134">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6134.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6141">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6141.png" width="40" height="40"/>
                            </div>
                            <div id="f6142">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6142.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6151">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6151.png" width="40" height="40"/>
                            </div>
                            <div id="f6154">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6154.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6161">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6161.png" width="40" height="40"/>
                            </div>
                            <div id="f6162">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6162.png" width="40" height="40"/>
                            </div>
                            <div id="f6164">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6164.png" width="40" height="40"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="masteryGutter">
                </div>

                <div id="cunningContainer">
                    <div class="masteryRow">
                        <div id="f6311">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6311.png" width="40" height="40"/>
                        </div>
                        <div id="f6312">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6312.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6321">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6321.png" width="40" height="40"/>
                        </div>
                        <div id="f6322">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6322.png" width="40" height="40"/>
                        </div>
                        <div id="f6323">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6323.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6331">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6331.png" width="40" height="40"/>
                        </div>
                        <div id="f6332">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6332.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6342">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6342.png" width="40" height="40"/>
                        </div>
                        <div id="f6343">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6343.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6351">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6351.png" width="40" height="40"/>
                        </div>
                        <div id="f6352">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6352.png" width="40" height="40"/>
                        </div>
                    </div>
                    <div class="masteryRow">
                        <div id="f6361">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6361.png" width="40" height="40"/>
                        </div>
                        <div id="f6362">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6362.png" width="40" height="40"/>
                        </div>
                        <div id="f6363">
                            <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6363.png" width="40" height="40"/>
                        </div>
                    </div>
                </div>

                <div id="masteryGutter">
                </div>

                <div id="resolveContainer">
                        <div class="masteryRow">
                            <div id="f6211">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6211.png" width="40" height="40"/>
                            </div>
                            <div id="f6212">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6212.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6221">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6221.png" width="40" height="40"/>
                            </div>
                            <div id="f6223">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6223.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6231">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6231.png" width="40" height="40"/>
                            </div>
                            <div id="f6232">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6232.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6241">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6241.png" width="40" height="40"/>
                            </div>
                            <div id="f6242">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6242.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6251">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6251.png" width="40" height="40"/>
                            </div>
                            <div id="f6252">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6252.png" width="40" height="40"/>
                            </div>
                        </div>
                        <div class="masteryRow">
                            <div id="f6261">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6261.png" width="40" height="40"/>
                            </div>
                            <div id="f6262">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6262.png" width="40" height="40"/>
                            </div>
                            <div id="f6263">
                                <img class="masteryImage" src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/mastery/6263.png" width="40" height="40"/>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <h3>Items</h3>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-8">
                <span class="imageItem" ng-repeat="item in match.ItemsBought">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/item/{{item.Image.Full}}" width="40" height="40" />
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </span>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Share/angular.min.js")
    @Scripts.Render("~/Scripts/Apps/matchController.js")
}