<script type='text/javascript'>
    window.backendParams = { matchId: @ViewBag.MatchId };
</script>

<div class="ng-cloak" id="baseContainer" ng-app="IgnorantItems">
    <div id="matchContainer" ng-controller="matchController">
        <div class="row">
            <div class="matchChampionImage">
                <div class="col-xs-2">
                    <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{imageName}}" width="60" height="60" />
                </div>
                <div class="col-xs-6">
                    <h2>{{title}}</h2>
                </div>
            </div>
        </div>
        <h3>Match Info</h3>
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Champion:</div>
            <div class="col-xs-2">{{match.Champion.Name}}</div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Score:</div>
            <div class="col-xs-2">{{kills}} / {{deaths}} / {{assists}}</div>
        </div>

        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">Duration:</div>
            <div class="col-xs-2">{{durationText}}</div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/Share/angular.min.js")
    @Scripts.Render("~/Scripts/Apps/matchController.js")
}