<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\secrets\secretAppSettings.config">
    <add key="Region" value="na"/>
    <add key="UploadTimeoutInSeconds" value="2400"/>
    <add key="Retries" value="5"/>
    <add key="MatchDetailRequestDelaySeconds" value="1"/>
    <add key="RetryDelaySeconds" value="3"/>
    <add key="RateLimitDelayMinutes" value="10"/>
    <add key="DefaultUploadPeriodDays" value="7"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
