body {
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    background-color: #070E12;
    color: #F0EFC4;
}

h2 {
    font-size: 22px;
    font-weight: bold;
    color: #F0EFC4;
}

h3 {
    color: #4B748A;
}

.ignorantItemsLogo {
    position: absolute;
    top: 30px;
    left: 40px;
}

.matchChampionImage {
    position: relative;
}

.ignorantItemsLogo h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
}


.homeContent {
    display: none;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -60px;
}

.recentMatchesHeader h2 {
    margin-top: 0;
    padding-top: 20px;
}

a:hover {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    padding: 30px 50px 0px 50px;
    font-size: 10px;
    color: #8F8E75;
    margin-bottom: -10px;
}

.kills {
    color: #138801;
    font-size: 15px;
    font-weight: bold;
}

.deaths {
    color: #BD1313;
    font-size: 15px;
    font-weight: bold;
}

.assists {
    color: #0B64F3;
    font-size: 15px;
    font-weight: bold;
}

.base-container {
    background-color: #0B161C;
    padding-bottom: 30px;
    width: 800px;
    margin: 0 auto;
}

.homeMatchContainer {
    height: 60px;
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.homeMatchContainerTopPadding {
    padding-top: 37px;
}

.matchRow {
    width: 100%;
}

.img-container {
    display: flex;
    width: 75px;
    height: 50px;
    box-sizing: border-box;
}

.summoner-spell-img{
    width: 25px;
    height: 25px;
}

.summoner-spell-container {
    display: flex;
    flex-direction: column;
}

.proName {
    width: 140px;
    padding-left: 20px;
}

.kdaContainer {
    width: 100px;
}

.championName {
    width: 130px;
    padding-left: 10px;
}

.matchResults {
    padding-left: 10px;
    width: 80px;
}

.popover {
    font-size: 12px;
    max-width: 600px;
    width: 200px;
    font-size: 12px;
    color: black;
}

.finalItemsContainer {
    display: flex;
}

.finalItem {
    padding-right: 5px;

}

.matchRow {
    font-size: 12px;
}

.matchRow a {
    color: #F0EFC4;
}

.matchRow:hover {
    background-color: #081218;
}
