body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
    width: 60%;
}

.kills {
    color: #138801;
    font-size: 15px;
    font-weight: bold;
}

.deaths {
    color: #BD1313;
    font-size: 15px;
    font-weight: bold;
}

.assists {
    color: #0B64F3;
    font-size: 15px;
    font-weight: bold;
}

.base-container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    margin: 0 auto;
}

#matchInfoHeader {
    padding-bottom: 30px;
}

.recentMatchesHeader h2 {
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    padding-bottom: 20px;
    font-weight: bold;
    color: #10222B;
    font-size: 18px;
}

.homeMatchContainer {
    height: 60px;
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0 auto;
}

.homeMatchContainerTopPadding {
    padding-top: 37px;
}

.homeMatchGutter {
    height: 5px;
    width: 70%;
}

.matchRow {
    width: 100%;
    display: inline-block;
}

.championImage {
    padding-top: 22px;
    padding-left: 15px;
    float: left;
}

.proName {
    width: 160px;
    padding-left: 30px;
    float: left;
    font-size: 14px;
}

.championName {
    width: 130px;
    padding-left: 10px;
    float: left;
}

.matchResults {
    padding-left: 10px;
    width: 140px;
    float: left;
}

.recentMatchesHeader {
    padding-left: 50px;
}

.recentMatchesHeader h2 {
    padding-left: 5px;
}

.runeRow .runeDescription {
    padding-top: 6px;
}

.items {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 100%;
}

.item {
    float: left;
    height: 90px;
}

.imageItem {
    text-align: center;
    width: 70px;
    float: left;
}

.itemDescription {
    padding-top: 3px;
    font-size: 10px;
}

.masteryGutter {
    height: 10px;
}

.itemArrow {
    float: left;
    padding-top: 15px
}

.masteries {
    background-color: #0C0C0C;
    height: 380px;
    width: 680px;
}

#ferocityContainer {
    border: 1px solid #2B2B2B;
    margin-left: 35px;
    margin-top: 15px;
    background-color: #320705;
    height: 350px;
    width: 200px;
    border-radius: 0px;
    float: left;
}

#cunningContainer {
    border: 1px solid #2B2B2B;
    background-color: #120A23;
    margin-top: 15px;
    height: 350px;
    width: 200px;
    border-radius: 0px;
    float: left;
}

#resolveContainer {
    border: 1px solid #2B2B2B;
    background-color: #0B1827;
    margin-top: 15px;
    height: 350px;
    width: 200px;
    border-radius: 0px;
    float: left;
}

#masteryGutter {
    height: 350px;
    width: 20px;
    float: left;
}

.masteryRow {
    width: 200px;
}

.masteryImageContainer {
    position: relative;
}

.popover {
    font-size: 12px;
    max-width: 600px;
    width: 200px;
    font-size: 12px;
}

.masteryRank {
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    color: yellow;
    font-size: 11px;
    z-index: 100;
}

.masteryImage {
    -webkit-filter: grayscale(1);
    border: 1px solid #DBDBDB;
}

.padding30 {
    width: 30px;
}

.matchInfoContainer {
    padding-top: 10px;
    padding-bottom: 30px;
}

.matchInfoContainer h3 {
    padding-bottom: 10px;
}

.runesContainer {
    padding-top: 10px;
    padding-bottom: 30px
}

.summonerSpellsContainer {
    padding-top: 10px;
    padding-bottom: 30px
}

.summonerSpell {
    padding-top: 15px;
}

.summonerSpellsContainer h3 {
    padding-bottom: 10px;
}

.runesContainer h3 {
    padding-bottom: 10px
}

.masteriesContainer {
    padding-top: 10px;
    padding-bottom: 30px;
}

.masteriesContainer h3 {
    padding-bottom: 10px;
}

.items h3 {
    padding-bottom: 10px;
}
