body {
    padding-top: 50px;
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
}

a:hover {
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    padding-top: 30px;
    font-size: 10px;
}

.kills {
    color: #138801;
    font-size: 15px;
    font-weight: bold;
}

.deaths {
    color: #BD1313;
    font-size: 15px;
    font-weight: bold;
}

.assists {
    color: #0B64F3;
    font-size: 15px;
    font-weight: bold;
}

.base-container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 73%;
    margin: 0 auto;
}

.recentMatchesHeader h2 {
    padding-bottom: 20px;
    font-weight: bold;
    color: #10222B;
    font-size: 18px;
}

.homeMatchContainer {
    height: 60px;
    font-family: 'Helvetica Neue LT Pro', Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.homeMatchContainerTopPadding {
    padding-top: 37px;
}

.matchRow {
    width: 100%;
}

.img-container {
    display: flex;
    width: 75px;
    height: 50px;
    box-sizing: border-box;
}

.summoner-spell-img{
    width: 25px;
    height: 25px;
}

.summoner-spell-container {
    display: flex;
    flex-direction: column;
}

.proName {
    width: 160px;
    padding-left: 30px;
    font-size: 14px;
}

.championName {
    width: 130px;
    padding-left: 10px;
}

.matchResults {
    padding-left: 10px;
    width: 140px;
}

.popover {
    font-size: 12px;
    max-width: 600px;
    width: 200px;
    font-size: 12px;
}
