@section scripts {
    @Scripts.Render("~/Scripts/Apps/championInfoController.js")
}

<script type='text/javascript'>
    window.backendParams = { championId: @ViewBag.ChampionId };
</script>

<div class="homeContainer" ng-app="IgnorantItems" ng-controller="championInfoController">
    <div class="matchChampionImage">
        <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{imageName}}" width="800"/>
    </div>
    <div class="matchContents">
        <div class="recentMatchesHeader">
            <h2>{{title}}</h2>
        </div>
        <div class="allMatches">
            <div class="matchRow" ng-repeat="match in allMatches">
                <a ng-href="/matches/{{match.ProName}}/{{match.MatchId}}">
                    <div class="homeMatchContainer" ng-style=getMatchColor(match)>
                        <div class="img-container">
                            <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/champion/{{match.Champion.Image.Full}}" width="50" height="50">
                            <div class="summoner-spell-container">
                                <img class="summoner-spell-img" ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/spell/{{summonerSpells[match.Spell1Id].Image.Full}}" />
                                <img class="summoner-spell-img" ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/spell/{{summonerSpells[match.Spell2Id].Image.Full}}" />
                            </div>
                        </div>
                        <div class="proName">
                            {{match.ProName}}
                        </div>
                        <div class="kdaContainer">
                            {{match.Kills}} / {{match.Deaths}} / {{match.Assists}}
                        </div>
                        <div class="matchResults" ng-style="getMatchResultColor(match)">
                            {{getMatchResultText(match)}}
                        </div>
                        <div class="finalItemsContainer">
                            <div class="finalItem" ng-repeat="item in match.Items">
                                <img ng-src="http://ddragon.leagueoflegends.com/cdn/5.24.2/img/item/{{item.Image.Full}}" width="35" height="35" />
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
