<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\secrets\secretAppSettings.config">
    <add key="Region" value="na" />
    <add key="UploadTimeoutInSeconds" value="600" />  <!-- Upload timeout 10 minutes-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
